{% extends "layout.html" %}
{% block title %}
    Новини
{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="card shadow-sm">
      <div class="card-body">
        <h1 class="mb-4">Створити новий пост</h1>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="mb-3">
            {{ form.as_p }}
          </div>
          <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary">Зберегти</button>
            <a href="{% url 'posts:list' %}" class="btn btn-secondary">До новин</a>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}